body {
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

nav {
    font-fa: "Merriweather"
}

.card {
    min-height: 200px;
    margin: 1%;
}

textarea.form-control {
    font-size: 12px;
}

canvas {
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgba(211, 211, 211, 0.918);
    border-radius: 5px;
}